<div class="container">

    <div class="pagetitle">
        <h1>Municipio</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="index" asp-controller="Home">Inicio</a></li>
                <li class="breadcrumb-item active">Municipio</li>
            </ol>
        </nav>
    </div>

    <div class="card">
        <div class="card-body p-3">
            <a type="button" asp-controller="Municipio" asp-action="Nuevo" class="btn btn-primary">
                <i class="bx bxs-user-plus"></i>
                <span class="me-1">Agregar</span>
            </a>
            <a onclick="reporte();" class="btn btn-secondary">
                <i class="bx bxs-report"></i>
                <span class="me-1">Reporte</span>
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Listado</h5>
            <div class="table-responsive">
                <table id="tb-municipio" class="table">
                    <thead>
                        <tr>
                            <th scope="col">Pais</th>
                            <th scope="col">Departamento</th>
                            <th scope="col">Municipio</th>
                            <th scope="col">Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script src="~/assets/js/municipio/municipio.js"></script>